@model VinasaWeb.Models.SeminarParticipant

@{
    ViewBag.Title = "Edit";
}

<div class="container col-11 centerPage">
    <h5 class="heading">Cập nhật Thông Tin Doanh Nghiệp Tham Gia Hội Thảo</h5>
    @using (Html.BeginForm("Edit", "SeminarParticipants",
         new { ReturnUrl = ViewBag.ReturnUrl },
         FormMethod.Post, new { @class = "form-field" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrUpdate", Model);
    }
</div>