@model IEnumerable<VinasaWeb.Models.SeminarParticipant>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="right-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Danh sách quản lý các doanh nghiệp đăng ký hội thảo</h6>
        </div>
    </div>
    @Html.Partial("_List", Model);
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>


@section scripts{
    <script>
        $(".delete-btn").on("click", function () {
            var id = $(this).data("id");
            $.ajax({
                url: "@Url.Action("DeleteSelected", "SeminarParticipants")",
                data: { id: id},
                success: function (data) {
                    $("#deleteModal .modal-dialog").html(data);
                    $("#deleteModal").modal("show");
                }
            });
        });
    </script>
}