@model VinasaWeb.Models.Seminar

@{
    ViewBag.Title = "Create";
}

<div class="container col-11 centerPage">
    <h5 class="heading">Thêm mới Hội Thảo</h5>
    @using (Html.BeginForm("Create", "Seminars",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-field" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrUpdate", Model);
    }
</div>