

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<style>
    .form-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .input-wrapper {
        display: flex;
        position: relative;
        line-height: 14px;
        margin: 20px 10px;
    }


    label {
        color: #bbb;
        font-size: 11px;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 14px;
        padding: 0 2px;
        pointer-events: none;
        background: white;
        transition: transform 100ms ease;
        transform: translateY(-20px);
    }


    input {
        font-size: 15px;
        color: #555;
        outline: none;
        border: 1px solid #bbb;
        padding: 10px 20px;
        border-radius: 20px;
        width: 500px;
        position: relative;
    }


        input:invalid + label {
            transform: translateY(0);
        }

        input:focus {
            border-color: #E7870F;
        }

            input:focus + label {
                color: #E7870F;
                transform: translateY(-20px);
            }

    .heading {
        color: #051D65;
    }

    .form-control {
        font-size: 15px;
        color: #555;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 20px;
        width: 400px;
    }

        .form-control:focus {
            border-color: #E7870F;
        }

    .address:focus {
        color: #E7870F;
    }

    .button {
        height: 40px;
        width: 150px;
        margin: 10px 10px;
        background: #F69928;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    .button-form {
        float: right;
    }

    .button:hover {
        background-color: #051D65;
    }

    .input-select{
        width:500px;
    }
    .select-region {
        width: 500px;
    }
</style>

<div class="container col-11 centerPage">
    <h5 class="heading">Thêm mới Hội Thảo</h5>
    <form class="form-field" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            <input type="text" id="tax" value="0315159393" readonly>
            <label for="tax">Mã số thuế</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Smart City" readonly>
            <label for="name">Tên Hội Thảo</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Công ty Cổ phần FPT " readonly>
            <label for="name">Tên Đơn Vị</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Trương Gia Bình" readonly>
            <label for="name">Tên Người Tham Dự</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Chủ tịch HĐQT " readonly>
            <label for="name">Chức Danh</label>
        </div>

        <div class="input-wrapper">
            <input type="email" value="manhnt@vinasa.org.vn" readonly>
            <label for="name">Email</label>
        </div>

        <div class="input-wrapper">
            <input type="number" value="0937688958" readonly>
            <label for="name">Di Động</label>
        </div>

        <div class="input-wrapper input-select">
            <label class="address" for="name">Tỉnh Thành</label>
            <select class="form-control select-region" name="type">
                <option value="">Chọn Khu Vực</option>
                <option value="">HCM</option>
                <option value="">HN</option>
                <option value="">MT</option>

            </select>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Doanh nghiệp CNTT" readonly>
            <label for="name">Đơn Vị Chúng Tôi Là</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Công nghệ thông tin " readonly>
            <label for="name">Lĩnh Vực Hoạt Động</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Có" readonly>
            <label for="name">Đăng Ký Hội Thảo</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Có" readonly>
            <label for="name">Đăng Ký Business Matching</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Có" readonly>
            <label for="name">Đăng Ký Gian Hàng Triển Lãm</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Có" readonly>
            <label for="name">Đăng Ký Vé Tham Dự</label>
        </div>

    </form>
    <div class="button-form">
        <button class="button" id="cancel" onclick="goBack">Quay Lại</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


        $('#cancel').click(function () {
        location.href = "@Url.Action("Index")";
    })

</script>





