

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<style>
@*    .form-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }*@

    .input-wrapper {
        display: flex;
        position: relative;
        line-height:14px;
        margin:20px 10px;
    }


    label {
        color: #bbb;
        font-size: 11px;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        left: 20px;
        top: 14px;
        padding: 0 2px;
        pointer-events: none;
        background: white;
        transition: transform 100ms ease;
        transform: translateY(-20px);
    }


    input {
        font-size: 15px;
        color: #555;
        outline: none;
        border: 1px solid #bbb;
        padding: 10px 20px;
        border-radius: 20px;
        width:800px;
        position: relative;
    }


    input:invalid + label{

    transform:translateY(0);
    }

    input:focus{

    border-color:#E7870F;
    }

    input:focus + label{
         color:#E7870F;
    transform:translateY(-20px);
    }

    .heading {
        color: #051D65;
    }

    .form-control {
        font-size: 15px;
        color: #555;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 20px;
        width: 400px;
    }

    .form-control:focus{
        border-color: #E7870F;
    }

    .address:focus {
        color: #E7870F;
    }

    .button {
        height: 40px;
        width: 150px;
        margin: 10px 10px;
        background: #F69928;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    .button-form {
        float: right;
    }

    .button:hover{
        background-color: #051D65;
    }

</style>

<div class="container col-11 centerPage">
    <h5 class="heading">Cập nhật Thông Tin Hội Thảo</h5>
    <form class="form-field" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            <input type="text" value="Hội nghị kết nối đầu tư tổ chức tại TP. Hồ Chí Minh: chủ đề THÚC ĐẨY ĐẦU TƯ VÀ PHÁT TRIỂN HỆ SINH THÁI TÀI CHÍNH SỐ" id="tax" readonly>
            <label for="tax">Tên Hội Thảo</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="9:00 - 17:00 ngày 28/06/2022 (Thứ 3)" readonly>
            <label for="name">Thời Gian Diễn Ra</label>
        </div>

        <div class="input-wrapper">
            <input type="text" value="Sihub, 273 Điện Biên Phủ, Phường Võ Thị Sáu, Quận 3, TP. HCM" readonly>
            <label for="name">Địa Điểm Diễn Ra</label>
        </div>
    </form>
    <div class="button-form">
        <button class="button" id="cancel">Quay Lại</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


        $('#cancel').click(function () {
        location.href = "@Url.Action("ViewList")";
    })

</script>






