
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}
<style>
    .button-lc {
        height: 40px;
        width: 150px;
        margin: 10px 10px;
        background: #F69928;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: 20px;
    }
    .button-lc:hover{
        background-color: #051D65;
    }

    .icon {
        cursor: pointer;
        color: #F69928;
    }

    .action-icon:hover {
        color: #051D65;
    }

    .action-item {
        list-style-type: none;
        font-size: 18px
    }

</style>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Hội Thảo</h1>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="right-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Danh sách quản lý các doanh nghiệp đăng ký hội thảo</h6>
        </div>
        <div class="left-content">
            <button class="button-lc" style=" width: 200px;" onclick="importData()">Import Excel</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên Đơn Vị</th>
                        <th>Tên Người Tham Dự</th>
                        <th>Chức Danh</th>
                        <th>Số Điện Thoại</th>
                        <th>Lĩnh Vực Hoạt Động</th>
                        <th>Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Công ty Cổ phần FPT
                        </td>
                        <td>
                            Trương Gia Bình
                        </td>
                        <td>
                            Chủ tịch HĐQT
                        </td>
                        <td>
                            0937688958
                        </td>
                        <td>Công Nghệ Thông Tin</td>
                        <td class="action" style="display:flex; justify-content:space-around; align-items:center">
                            <li class="action-item">
                                <a href="@Url.Action("UpdateInfoM")" class="action-icon">
                                    <i class="fa-solid fa-pen-to-square icon"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a href="" class="action-icon" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa-solid fa-trash-can icon"></i>
                                </a>
                            </li>
                            <li class="action-item">
                                <a href="@Url.Action("DetailInfoSoM")" class="action-icon">
                                    <i class="fa-solid fa-circle-info icon"></i>
                                </a>
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Xoá Hội Thảo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bạn có chắc chắn xoá?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                            <button type="button" class="btn btn-primary" style=" background: #F69928; ">Đồng ý</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#create').click(function () {
        location.href = "@Url.Action("ViewList")";
    })

    function importData() {
        let input = document.createElement('input');
        input.type = 'file';
        input.onchange = _ => {
            // you can use this method to get file and perform respective operations
            let files = Array.from(input.files);
            console.log(files);
        };
        input.click();

    }

</script>




