

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}



<div class="container col-11 centerPage">
    <h5 class="heading">Cập nhật Thông Tin Doanh Nghiệp Tham Gia Hội Thảo</h5>
    <form class="form-field form-inputs" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" required>
            <label class="lb-form" for="tax">Mã số thuế</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Tên Hội Thảo</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Tên Đơn Vị</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Tên Người Tham Dự</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Chức Danh</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="email" required>
            <label class="lb-form" for="name">Email</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="number" required>
            <label class="lb-form" for="name">Di Động</label>
        </div>

        <div class="input-wrapper">
            <label class="lb-form" class="address" for="name">Tỉnh Thành</label>
            <select class="form-control select-region" name="type">
                <option value="none">Chọn Khu Vực</option>

                <option value="">HCM</option>
                <option value="">HN</option>
                <option value="">MT</option>

            </select>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Đơn Vị Chúng Tôi Là</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Lĩnh Vực Hoạt Động</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Đăng Ký Hội Thảo</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Đăng Ký Business Matching</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Đăng Ký Gian Hàng Triển Lãm</label>
        </div>

        <div class="input-wrapper">
            <input class="ip-form" type="text" required>
            <label class="lb-form" for="name">Đăng Ký Vé Tham Dự</label>
        </div>

    </form>
    <div class="button-form">
        <button class="button-lc">Xác Nhận</button>
        <button class="button-lc" id="cancel" onclick="goBack">Huỷ</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


        $('#cancel').click(function () {
        location.href = "@Url.Action("Index")";
    })

</script>





